* {
  padding: 0;
  margin: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  font-size: 15px;
  font-family: Outfit, sans-serif;
  background-color: hsl(212, 45%, 89%);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: hsl(0, 0%, 100%);
  width: 100%;
  border-radius: 20px;
  max-width: 320px;
  height: 497px;
  padding: 16px;
  box-shadow: 0px 25px 25px 0px rgba(0, 0, 0, 0.05);
}

.card__qr-image {
  max-width: 100%;
  border-radius: 10px;
}

.card__content {
  display: flex;
  width: 288px;
  height: 129px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  flex-shrink: 0;
  text-align: center;
  padding-top: 24px;
}

.card__title {
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  font-weight: 700;
  width: 288px;
}

.card__sub-title {
  color: hsl(220, 15%, 55%);
  font-weight: 400;
  width: 256px;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
